doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    form
      input#signin(checked='', name='action', type='radio', value='signin')
      label(for='signin') Sign in
      input#signup(name='action', type='radio', value='signup')
      label(for='signup') Sign up
      input#reset(name='action', type='radio', value='reset')
      label(for='reset') Reset
      #wrapper
        #arrow
        input#email(placeholder='Email', type='text')
        input#pass(placeholder='Password', type='password')
        input#repass(placeholder='Repeat password', type='password')
      button(type='submit')
        span
          | Reset password
          br
          |                 Sign in
          br
          |                 Sign up
