extends layout
  
block content
  body
    div.container
      from.form-control#login
        input(type='text' placeholder='username')
        input(type='password')
        button(type='submit') OK
          